body {

    font-family: 'Comfortaa', 'Brush Script MT', cursive;

    margin: 0px;
    padding: 0px;
}

tr {
    height: 51px;
}

.hidden {
    display: none;
}

.show table {
    background-color: #FFE;
    border-radius: 25px;
    font-style: italic;
    margin-bottom: 3em;
    box-shadow: 3px 7px #FEE;
}

.toUppercase {
    text-transform: uppercase;
}
