body {

    font-family: 'Comfortaa', 'Brush Script MT', cursive;

    margin: 0px;
    padding: 0px;
}

textarea {
    border: white;
    resize: none;
    height: fit-content;
    width: fit-content;
}

textarea:disabled {
    background-color: white;
    color: black;
    height: fit-content;
    width: fit-content;
}

tr {
    height: 50px;
}

.toUppercase {
    text-transform: uppercase;
}

.form-group .form-control {
    border: white;
    border-bottom: 1px solid #E7E8E9;
    width: fit-content;
}
